<div class="card shadow">
  <%= image_tag @image[:image], class: "card-img-top #{@image[:class]}", alt: @image[:image] %>
  <div class="card-body">
    <h5 class="card-title text-center">
      <%= @number %>
    </h5>
    <ul class="list-group">
      <li class="d-flex w-100 justify-content-between">
        <p><%= t('views.transfer.show.status') %></p>
        <p class="fw-bold">
          <%= @status %>
        </p>
      </li>
      <li class="d-flex w-100 justify-content-between">
        <p><%= t('views.transfer.show.amount') %></p>
        <p class="fw-bold">
          <%= helpers.money_with_currency(@transfer.amount, @transfer.sender.currency) %>
        </p>
      </li>
      <li class="d-flex w-100 justify-content-between">
        <p><%= t('views.transfer.show.from_account') %></p>
        <p class="fw-bold">#<%= @transfer.sender.id %></p>
      </li>
      <li class="d-flex w-100 justify-content-between">
        <p><%= t('views.transfer.show.payed_to') %></p>
        <p class="fw-bold"><%= @transfer.recipient.user.fullname %></p>
      </li>
      <li class="d-flex w-100 justify-content-between">
        <p><%= t('views.transfer.show.date') %></p>
        <p class="fw-bold"><%= @date %></p>
      </li>
    </ul>
    <%= link_to t('actions.back'), '#',
                      class: 'card-link',
                      data: {
                        controller: 'modals',
                        action: 'click->modals#close keydown.esc@document->modals#close'
                      } %>
  </div>
</div>
