<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 mx-auto">
      <div class="card">
        <div class="card-body shadow">
          <div class="text-center mb-3">
            <%= image_tag 'afbank-logo.png', alt: 'bank-logo', width: 200, height: 70 %>
            <h3 class="h3 mt-4"><%= t('views.devise.passwords.edit.title') %></h3>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: user_password_path, html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <%= f.input :reset_password_token, as: :hidden %>
            <%= f.input :password,
                label: t('views.devise.passwords.edit.new_password'),
                required: true,
                autofocus: true,
                input_html: { autocomplete: 'new-password' } %>
            <%= f.input :password_confirmation,
                label: t('views.devise.passwords.edit.confirm_new_password'),
                required: true,
                input_html: { autocomplete: 'new-password' } %>
            <div class="form-actions mt-4">
              <%= f.button :submit,
                           t('views.devise.passwords.edit.submit'),
                           class: 'btn btn-primary shadow w-100 py-2' %>
            </div>
            <div class="text-center mt-3">
              <%= link_to t('views.devise.passwords.edit.sign_in'), new_user_session_path %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
