<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 mx-auto">
      <div class="card">
        <div class="card-body shadow">
          <div class="text-center mb-3">
            <%= image_tag 'afbank-logo.png', alt: 'bank-logo', width: 200, height: 70 %>
            <h3 class="h3 mt-4"><%= t('views.devise.sessions.new.title') %></h3>
          </div>
          <%= form_with model: resource, url: user_session_path, class: 'simple_form new_user' do |f| %>
            <div class="mb-3 string user_username">
              <%= f.label :username, class: 'form-label string' %>
              <%= f.text_field :username, class: 'form-control string', autocomplete: 'username', autofocus: true %>
            </div>
            <div class="mb-3 string user_username">
              <%= f.label :password, class: 'form-label string' %>
              <%= f.password_field :password, class: 'form-control string', autocomplete: 'username', autofocus: true %>
            </div>
            <div class="row mb-6">
              <div class="col">
                <fieldset class="mb-3 boolean optional user_remember_me">
                  <div class="form-check">
                    <%= f.check_box :remember_me, as: :boolean, class: 'form-check-input boolean optional' %>
                    <%= f.label :remember_me, class: 'form-check-label boolean optional' %>
                  </div>
                </fieldset>
              </div>
              <div class="col text-end">
                <%= link_to t('views.devise.sessions.new.forgot_password'),
                            new_user_password_path,
                            class: 'text-end' %>
              </div>
            </div>
            <div class="form-actions mt-3">
              <%= f.submit t('views.devise.sessions.new.submit'),
                           class: 'btn btn-primary shadow w-100 py-2' %>
            </div>
            <div class="text-center mt-3">
              <%= link_to t('views.devise.sessions.new.sign_up'), new_user_registration_path %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
