<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 mx-auto">
      <div class="card">
        <div class="card-body shadow">
          <div class="text-center mb-3">
            <%= image_tag 'afbank-logo.png', alt: 'bank-logo', width: 200, height: 70 %>
            <h3 class="h3 mt-4"><%= t('views.devise.sessions.new.title') %></h3>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: user_session_path) do |f| %>
            <%= f.input :username,
                autofocus: true,
                input_html: { autocomplete: 'username' } %>
            <%= f.input :password,
                input_html: { autocomplete: 'current-password' } %>
            <div class="row mb-6">
              <div class="col">
                <%= f.input :remember_me, as: :boolean %>
              </div>
              <div class="col text-end">
                <%= link_to t('views.devise.sessions.new.forgot_password'),
                            new_user_password_path,
                            class: 'text-end' %>
              </div>
            </div>
            <div class="form-actions mt-3">
              <%= f.button :submit,
                           t('views.devise.sessions.new.submit'),
                           class: 'btn btn-primary shadow w-100 py-2' %>
            </div>
            <div class="text-center mt-3">
              <%= link_to t('views.devise.sessions.new.sign_up'), new_user_registration_path %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
