<div class="modal-backdrop show" data-controller="modals" data-action="click->modals#close"></div>
<div class="modal show d-block" data-controller="modals" data-action="keydown.esc@document->modals#close">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow border">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('views.transfer.new.title') %></h5>
        <%= button_tag '', class: 'btn-close', data: { controller: 'modals', action: 'click->modals#close' } %>
      </div>
      <%= simple_form_for(transfer) do |f| %>
        <div class="modal-body">
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="form-inputs">
            <%= f.input :amount_cents, type: :float, input_html: { min: 0.01, step: 0.01 } %>
            <%= f.input :sender_account_id,
                        as: :select,
                        label: t('views.transfer.form.sender_account_id'),
                        required: true,
                        prompt: t('views.transfer.form.sender_account_prompt'),
                        collection: current_user.accounts,
                        label_method: :id,
                        value_method: :id %>
            <%= f.input :contact_id,
                        as: :select,
                        label: t('views.transfer.form.contact'),
                        required: true,
                        prompt: t('views.transfer.form.contact_prompt'),
                        collection: current_user.contacts,
                        label_method: :name,
                        value_method: :id %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, class: 'btn btn-primary' %>
          <%= link_to t('actions.cancel'), '#',
                    class: 'btn btn-secondary',
                    data: { controller: 'modals', action: 'click->modals#close' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
