<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-success px-1 px-sm-5 mb-2">
  <%= link_to authenticated_root_path do %>
    <%= image_tag 'afbank-logo.png', class: 'd-inline-block align-top', alt: 'AF Bank Logo', width: 100, height: 35 %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <%= link_to t('views.navbar.home'), authenticated_root_path, class: "nav-link #{active?(authenticated_root_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to t('views.navbar.transfer'), transfers_path, class: "nav-link #{active?('#')}" %>
      </li>
      <li class="nav-item">
        <%= link_to t('views.navbar.contacts'), contacts_path, class: "nav-link #{active?('#')}" %>
      </li>
      <li class="nav-item">
        <%= link_to t('views.navbar.sign_out'), destroy_user_session_path,
                                class: 'btn btn-outline-secondary',
                                data: { turbo_method: :delete } %>
      </li>
    </ul>
  </div>
</nav>
