<!DOCTYPE html>
<html>
  <head>
    <title>Afbank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_tag do %>
      <!-- Easy way to make available locals in stimulus controllers -->
      window.I18n = <%= t("views").to_json.html_safe %>
    <% end %>
  </head>
  <body>
    <% if current_user %>
      <%= render partial: 'layouts/navbar' %>
    <% end %>
    <div class="container-fluid w-sm-100 container-sm fixed-top mt-sm-2">
      <div class="row justify-content-start mt-md-2">
        <% flash.each do |type, msg| %>
          <% unless msg.blank? %>
            <div class="alert alert-<%= type == 'alert' ? 'danger' : 'info' %> alert-dismissible col-md-3" role="alert">
              <%= msg %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= yield %>
    <%= turbo_frame_tag 'modal' %>
  </body>
</html>
